<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Registration From</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/register.css">
    </head>
    <body>
        <div class="center">
        <div class="container">
            <h1>Registeration Form</h1>
            {% for message in messages %}
                   <p ><center><b>{{message}}</b></center></p>
                    {% endfor %}
            <div class="form-container">
                <form action="{% url 'register' %}" method="POST">
                  {% csrf_token %}
                    <div class="input-name">
                        <i class="fa fa-user"></i>
                        <input type="text" placeholder="First name" name="name" class="name"required>
                    </div>
                    <div class="input-name">
                            <i class="fa fa-user"></i>
                            <input type="text" placeholder="Lasr name" name="last_name" class="name" required>
                       </div>
                    <div class="input-name">
                        <i class="fa fa-envelope email"></i>
                        <input type="text" placeholder=" Email-id" name="username" class="name" required>
                    </div>
                    <div class="input-name">
                        <i class="fa fa-phone"></i>
                        <input type="text" placeholder="Phone number" name="number" class="name" required>
                    </div>
                    <div class="input-name">
                        <i class="fa fa-lock"></i>
                        <input type="password" placeholder="password"name="password" class="name" required>
                    </div>
                    <div class="input-name">
                        <i class="fa fa-lock"></i>
                        <input type="password" placeholder="Confirm password" name="Confirmpassword" class="name" required>
                    </div>
                    <div class="btn">
                        <div class="cancel-btn">
                        <a href="{% url 'home' %}">
                            <input type="submit" class="button" value="Cancel" />
                        </a>
                        </div>

                        <div class="submit-btn">
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </div>
                    <div class="loginlnk">Already a member<a href="{% url 'login_user' %}">Login now</a></div>
                </form>
                <div class="form-group">
                </div>
             </div>
            </div>
        </div>
    </body>
    <style>.loginlnk{
    text-align:right;  
    font-size:20px;  
    }</style>
</html>